@model System.Security.Claims.ClaimsPrincipal
@{
    ViewBag.Title = "Claims";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table table-striped">
    <tr>
        <th>Claim Type</th>
        <th>Claim Value</th>
        <th>Issuer</th>
    </tr>

    @foreach (var claim in Model.Claims)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => claim.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => claim.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => claim.Issuer)
            </td>
        </tr>
    }
</table>